<settings>
    <setting id="disablestarrating" type="bool">false</setting>
    <setting id="enableextendedinfo" type="bool">false</setting>
    <setting id="numericstarrating" type="bool">false</setting>
    <setting id="disabletvdbrating" type="bool">false</setting>
    <setting id="disableallratings" type="bool">false</setting>
    <setting id="debuggrid" type="bool">false</setting>
    <setting id="enableshowmore" type="bool">true</setting>
    <setting id="TMDbHelper.EnableBlur" type="bool">true</setting>
    <setting id="disablewatchedoverlay" type="bool">false</setting>
    <setting id="disableindicator.movieset" type="bool">false</setting>
    <setting id="disabletmdbhelpersplash" type="bool">false</setting>
    <setting id="disableimdbratingtop250" type="bool">false</setting>
    <setting id="pvrguide.colordiffuse" type="bool">false</setting>
    <setting id="disableinfolistcrew" type="bool">false</setting>
    <setting id="inverthomemenucolors" type="bool">false</setting>
    <setting id="standardmusicosd" type="bool">false</setting>
    <setting id="osdvisualisation.showfanart" type="bool">false</setting>
    <setting id="disableautowidthhub" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="homeiconicmenu" type="bool">true</setting>
    <setting id="disableplotautoscroll" type="bool">false</setting>
    <setting id="disableinfolistfanart" type="bool">false</setting>
    <setting id="bigmusicvis" type="bool">false</setting>
    <setting id="bounceanimations" type="bool">false</setting>
    <setting id="enableosdratings" type="bool">false</setting>
    <setting id="disablerottentomatoesuserrating" type="bool">false</setting>
    <setting id="disablesidesubmenu" type="bool">false</setting>
    <setting id="disableosdinfo" type="bool">false</setting>
    <setting id="pvrchannels.info" type="bool">true</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="nofanart" type="bool">false</setting>
    <setting id="pvrguide.startend" type="bool">false</setting>
    <setting id="disableclock" type="bool">false</setting>
    <setting id="startup.init" type="bool">true</setting>
    <setting id="disableinfolistcastfeature" type="bool">false</setting>
    <setting id="disableinfolistsimilar" type="bool">false</setting>
    <setting id="debugart" type="bool">false</setting>
    <setting id="disableinfolistdirector" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="disablerottentomatoescriticrating" type="bool">false</setting>
    <setting id="disableindicator.new" type="bool">false</setting>
    <setting id="usetracknamingtemplate" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="automusicvis" type="bool">false</setting>
    <setting id="pvrguide.hidechannelname" type="bool">false</setting>
    <setting id="disableinfolistyear" type="bool">false</setting>
    <setting id="disableinfoliststudio" type="bool">false</setting>
    <setting id="TMDbHelper.DisablePersonStats" type="bool">true</setting>
    <setting id="disableindicator.library" type="bool">false</setting>
    <setting id="opaquedivider" type="bool">false</setting>
    <setting id="disableinfolistsets" type="bool">false</setting>
    <setting id="disabletmdbrating" type="bool">false</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="global.showvideo" type="bool">false</setting>
    <setting id="disablewallscroll" type="bool">false</setting>
    <setting id="disablepersistentfanart" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="disableshadows" type="bool">false</setting>
    <setting id="enableclassicindicators" type="bool">false</setting>
    <setting id="disabletrailerwindow" type="bool">false</setting>
    <setting id="disablepaneldivider" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="enablemonochromehighlight" type="bool">false</setting>
    <setting id="lockmainmenu" type="bool">true</setting>
    <setting id="profilepicture" type="bool">true</setting>
    <setting id="disabletraktrating" type="bool">false</setting>
    <setting id="plotoutline" type="bool">false</setting>
    <setting id="disableinfolistgenre" type="bool">false</setting>
    <setting id="disablemetacriticrating" type="bool">false</setting>
    <setting id="disablemusicvideoautoinfo" type="bool">false</setting>
    <setting id="pvrguide.info" type="bool">true</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="showinfopaused" type="bool">true</setting>
    <setting id="tmdbhelper.service" type="bool">false</setting>
    <setting id="skininit" type="bool">true</setting>
    <setting id="enablehorizontalhome" type="bool">true</setting>
    <setting id="osdsubtitlesettings" type="bool">false</setting>
    <setting id="enablemonochromeflags" type="bool">false</setting>
    <setting id="disablehomewrap" type="bool">false</setting>
    <setting id="disableclearart" type="bool">false</setting>
    <setting id="disableoscarrating" type="bool">false</setting>
    <setting id="shadowlines" type="bool">false</setting>
    <setting id="disablelandscapeart" type="bool">false</setting>
    <setting id="disableblur" type="bool">false</setting>
    <setting id="disableindicator.episodes" type="bool">false</setting>
    <setting id="hideosddiffusecolors" type="bool">false</setting>
    <setting id="artworkhelper.enableextrafanart" type="bool">false</setting>
    <setting id="disableindicator.progress" type="bool">false</setting>
    <setting id="disableindicator.watched" type="bool">false</setting>
    <setting id="pvrguide.backgroups" type="bool">false</setting>
    <setting id="disableimdbrating" type="bool">false</setting>
    <setting id="disableoverlay" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="disablebusybackground" type="bool">false</setting>
    <setting id="artistslideshow.animate" type="bool">false</setting>
    <setting id="disableinfolistrecommended" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="disableinfolistposters" type="bool">false</setting>
    <setting id="artistslideshow.disabled" type="bool">false</setting>
    <setting id="hideosdscrollingtext" type="bool">false</setting>
    <setting id="disabletextpanel" type="bool">false</setting>
    <setting id="dontpauseosd" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="normallyrics" type="bool">false</setting>
    <setting id="disableautoscrollwidgets" type="bool">false</setting>
    <setting id="pvrguide.channelnumber" type="bool">true</setting>
    <setting id="infobuttons02" type="string">Search</setting>
    <setting id="script-skinviewtypes-hash" type="string">d0e520104b003ba26e08223cbb06e3eb</setting>
    <setting id="Testing" type="string"></setting>
    <setting id="screensaver.digitalclock.iconcolor" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="screensaver.digitalclock.informationcolor" type="string"></setting>
    <setting id="infobuttons04" type="string">Watchlist</setting>
    <setting id="autoscrolltime" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="skinlogo" type="string"></setting>
    <setting id="startupplaylist" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="screensaver.digitalclock.ampmcolor" type="string"></setting>
    <setting id="SearchTerm" type="string">venom</setting>
    <setting id="infobuttons03" type="string">Trailer</setting>
    <setting id="script-skinviewtypes-checksum" type="string">8660daf20da41a7970f16feccc84a9ea</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="fanart.fallback" type="string"></setting>
    <setting id="screensaver.digitalclock.hourcolor" type="string"></setting>
    <setting id="screensaver.digitalclock.backgroundcolor" type="string"></setting>
    <setting id="watchedprogresscolor.name" type="string"></setting>
    <setting id="OSD_Timeout" type="string">5 seconds</setting>
    <setting id="gradientcolor.name" type="string"></setting>
    <setting id="screensaver.arctic.mirage.target" type="string"></setting>
    <setting id="screensaver.digitalclock.minutecolor" type="string"></setting>
    <setting id="screensaver.arctic.mirage.path" type="string"></setting>
    <setting id="screensaver.digitalclock.shadowcolor" type="string"></setting>
    <setting id="screensaver.digitalclock.datecolor" type="string"></setting>
    <setting id="focuscolor.name" type="string"></setting>
    <setting id="TMDbHelper.AutoUpdate.LastTime" type="string">2022-04-21T21:30:44</setting>
    <setting id="overlaycolor.name" type="string"></setting>
    <setting id="screensaver.digitalclock.coloncolor" type="string"></setting>
</settings>
